# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# virtualenv
.venv/
venv/
env/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / runtime data
# =========================
data/
*.log

# =========================
# SQLite
# =========================
*.sqlite3
*.db

# =========================
# .copy= backups
# =========================
*.copy

# =========================
# core_dump
# =========================
project_dump.txt


# =========================
# Config (секреты)
# =========================
config/config.yaml
config/profile.yaml
config.yaml.dimonauth
config.yaml.nvilocal

# =========================
# Playwright / browser
# =========================
chrome-hh-bot/
playwright/.cache/

# =========================
# Screenshots / debug
# =========================
*.png
*.html

# =========================
# Misc
# =========================
.env
.env.*
